* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 64px;
  }
  
  #main {
    max-width: 900px;
    margin: 0 auto;
  }
  
  #title {
    font-size: 6em;
    font-weight: 400;
    margin-bottom: 24px;
    color: #000;
  }
  
  #imageUploader {
    margin-top: 24px;
    display: none;
  }

  .upload-btn {
    margin-top: 24px;
    display: inline-block;
    padding: 12px 24px;
    background-color: #000;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .upload-btn:hover {
    background-color: #585858;
    box-shadow: none;
  }

  #placeholderImage {
    margin-top: 24px;
    width: 100%;
    max-width: 640px;
    height: auto;
    border-radius: 16px;
    object-fit: cover;
  }

  #uploadedImage {
    max-width: 100%;
    height: auto;
    margin-top: 24px;
    border-radius: 16px;
  }

  #palette {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
    flex-wrap: wrap;
  }

  #palette-info {
    font-size: 1.4em;
    color: #000;
  }
  
  .color {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease;
  }

  .color:hover {
    transform: scale(1.1);
  }

  button {
    margin-top: 24px;
    padding: 12px 24px;
    background-color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #585858;
  }